@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.certificate-frame {
	max-width: 1300px;
	margin: 0 auto;
	padding: 2.5rem;
	background-color: blue;
	box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
	font-family: "Merriweather", serif;
	font-size: medium;
}

.certificate-content {
	min-height: 60vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}